---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: networkpolicytemplates.tenet.cybozu.io
spec:
  group: tenet.cybozu.io
  names:
    kind: NetworkPolicyTemplate
    listKind: NetworkPolicyTemplateList
    plural: networkpolicytemplates
    singular: networkpolicytemplate
  scope: Cluster
  versions:
  - name: v1beta2
    schema:
      openAPIV3Schema:
        description: NetworkPolicyTemplate is the Schema for the networkpolicytemplates
          API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: Spec is the spec for the NetworkPolicyTemplate
            properties:
              clusterwide:
                default: false
                description: ClusterWide indicates whether the generated templates
                  are clusterwide templates
                type: boolean
              policyTemplate:
                description: PolicyTemplate is a template for creating NetworkPolicies
                type: string
            required:
            - policyTemplate
            type: object
          status:
            description: Status represents the status of the NetworkPolicyTemplate
            enum:
            - ok
            - invalid
            type: string
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
