name: CI
on:
  pull_request:
  push:
    branches:
    - 'main'
env:
  go-version: 1.16
  cache-version: 1
jobs:
  test:
    name: Small tests
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v2
      with:
        go-version: ${{ env.go-version }}
    - run: make test
